.ant-modal-content {
    background-color: #3E3E5B !important;
    height: 362px;
    box-shadow: none;

    .ant-modal-close-x {
        display: none;
    }

    .ant-modal-title {
        text-align: center;
        background-color: #3E3E5B;
        font-size: 20px;
        color: #fff;
        font-weight: 600;
    }

    .from__change__password {
        h3 {

            margin-bottom: 6px;
            font-weight: 400;
            font-size: 14px;
            color: #F5F5FF;
            justify-content: center;

        }

        .ant-input {
            width: 328px;
            background: #2B2B3F;
            border-radius: 5px;
            color: #F5F5FF;
            font-weight: 400;
            font-size: 16px;
        }

        .ant-input-affix-wrapper {
            width: 332px;
            background: #2B2B3F;
            border-radius: 5px;
            color: #F5F5FF;
            font-weight: 400;
            font-size: 16px;
            border: 1px solid #727288;
        }

        .anticon svg {
            color: #FF7506;
        }

        .btn__cancel {
            width: 118px;
            height: 32px;
            border: 1px solid #FF7506;
            border-radius: 4px;
            color: #FF7506;
            font-weight: 500;
            font-size: 14px;
            background-color: transparent;
        }

        .btn__save {
            margin-left: 22px;
            width: 118px;
            height: 32px;
            background: #FF7506;
            border-radius: 4px;
            border: 1px solid #FF7506;
            color: #FFFFFF;
            font-weight: 500;
            font-size: 14px;

            &:hover {
                border-color: #FF7506;
            }
        }
    }
}