.update_page {
    padding-left: 20px;
    width: 100vh;

    :where(.css-dev-only-do-not-override-26rdvq).ant-form {
        max-width: none !important;
    }

    .ant-row {
        flex-flow: nowrap;

    }

    .ant-form-item .ant-form-item-label>label {
        color: #F5F5FF;

    }

    .ant-form-horizontal .ant-form-item-label {
        margin-right: 20px;
    }

    .ant-select-selector {
        border: 1px solid #727288 !important;
    }

    //ant input
    .username-input {
        border: 1px solid #727288;

    }

    .ant-input {

        background: #2B2B3F;
        border-radius: 5px;
        color: #F5F5FF;
        font-weight: 400;
        font-size: 16px;
    }

    .ant-input-affix-wrapper {
        width: 328px;
        background: #2B2B3F;
        border-radius: 5px;
        color: #F5F5FF;
        font-weight: 400;
        font-size: 16px;
        border: 1px solid #727288;
    }


    //check radio 
    .ant-radio-group {
        display: flex;


        label {
            font-size: 15px;
            color: #fff;
        }

    }

    :where(.css-dev-only-do-not-override-26rdvq).ant-radio-wrapper span.ant-radio+* {
        width: 150px !important;
    }

    .btn__cancel {
        width: 144px;
        height: 40px;
        border: 1px solid #FF7506;
        border-radius: 4px;
        color: #FF7506;
        font-weight: 500;
        font-size: 14px;
        background-color: transparent;

        &:hover {
            border-color: #FF7506;
            color: #FF7506;
        }
    }

    .list_btn {
        text-align: center;
        margin: 30px 0px;
        margin-left: 90px;
    }

    .btn__save {
        margin-left: 24px;
        width: 144px;
        height: 40px;
        background: #FF7506;
        border-radius: 4px;
        border: 1px solid #FF7506;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 14px;

        &:hover {
            border-color: #FF7506;
            background: #FF7506;
            color: #FFFFFF;
        }
    }

    .username-input {
        border: 1px solid #727288;
    }
}