.card__item {

    .ant-card {
        background: rgba(57, 57, 85, 0.7);
        border-color: rgba(57, 57, 85, 0.7);
    }

    .ant-card-body {
        padding: 10px;
    }

    .card__container {

        border-radius: 0px 0px 8px 8px;

        .card__title {
            font-size: 14px;
            font-weight: 600;
            color: #FFFFFF;
        }

        .card__content {


            font-size: 13px;
            color: #F5F5FF;


            span {
                color: #F5F5FF;
                font-size: 12px;
                opacity: 0.8;
            }


        }

        .card__footer {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;

            .card__actions {
                display: flex;
                gap: 8px;

                .card__action-item {
                    padding: 4px 8px;
                    border: 1px solid #727288;
                    border-radius: 6px;
                    display: flex;
                    text-align: center;
                    flex-direction: column;
                    font-size: 11px;
                    color: #F5F5FF;

                    span {
                        font-size: 7px;
                        color: #727288;
                    }
                }
            }
        }
    }
}