.detail__user__page {
    padding-left: 20px;

    .title {
        color: #F5f5f5;
        font-size: 15px;
        font-weight: 600;
        padding-bottom: 20px;
    }

    .value {
        color: #F5f5f5;
        font-size: 14px;
        font-weight: 600;
        opacity: 0.7;
    }

    .container {


        .content {
            min-width: 1100px;
        }
    }
}