.unitused__page {
    padding-left: 20px;


    .content {
        display: flex;
        justify-content: space-between;

        .profile__action {
            height: 120px;
        }
    }

    .ant-input {
        padding: 12px 14px;
        height: 34px;
        border-radius: 4px;
        background: #2B2B3F;
        font-weight: 400;
        font-size: 14px;
        color: #727288;
        border-color: #2B2B3F;

        &:hover {
            border-color: #2B2B3F;
        }

        &:focus {
            border-color: #2B2B3F;
            box-shadow: none;
        }


    }

    input::placeholder {
        color: #727288;
    }

    .ant-btn-icon-only {
        color: #ffff !important;
        font-size: 18px;
        padding-right: 14px;

    }

    .ant-btn {
        background: #2B2B3F;
        border-color: transparent;
        color: #fff;
        height: 34px;

        &:hover {
            border-color: transparent;
        }

        &:focus {
            border-color: transparent;
            box-shadow: none;
        }


    }

    .Table__list .ant-table-tbody>tr>td {
        padding: 7px 15px !important;
    }
}