.menu__bar {
    height: 100vh;
    width: 120px;
    background-color: #020220;
    text-align: center;

    .menubar__logo {
        padding-top: 25px;
        padding-bottom: 70px;

        .logo_sub {
            width: 72px;
            height: 72px;
            cursor: pointer;
        }
    }



    .ant-menu {
        background-color: #020220;
    }

    .ant-menu-item {
        display: flex;
        flex-direction: column;
        gap: 0;
        height: 65px;
        font-size: 13px;
        color: #ffff;
        justify-content: center;
        align-items: center;
        padding-left: 0 !important;
        gap: 2px;
        border-radius: 0px !important;


        .ant-menu-title-content {
            margin-top: -13px;
        }



    }

    :where(.css-dev-only-do-not-override-26rdvq).ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover {
        color: #fff;
    }


    .ant-menu-item-selected {
        background-color: #020220 !important;
        position: relative;
        color: #FF7506;

        &::before {
            content: '';
            position: absolute;
            width: 5px;
            height: 60px;
            background-color: #FF7506;
            border-radius: 4px;
            left: 0;

        }
    }


}