.menu__bar {

    width: 120px;
    background-color: #020220;
    text-align: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    .ant-menu>.ant-menu-item:hover,
    .ant-menu>.ant-menu-submenu:hover,
    .ant-menu>.ant-menu-item-active,
    .ant-menu>.ant-menu-submenu-active,
    .ant-menu>.ant-menu-item-open,
    .ant-menu>.ant-menu-submenu-open,
    .ant-menu>.ant-menu-item-selected,
    .ant-menu>.ant-menu-submenu-selected {
        background-color: #020220 !important;
        position: relative;
        color: #FF7506 !important;

        svg {
            color: #FF7506 !important;
        }

        .ant-menu-submenu-title {
            color: #FF7506 !important;
        }

        &::before {
            content: '';
            position: absolute;
            width: 5px;
            height: 60px;
            background-color: #FF7506;
            border-radius: 4px;
            left: 0;

        }


    }






    :where(.css-dev-only-do-not-override-26rdvq).ant-menu-light .ant-menu-submenu-selected>.ant-menu-submenu-title {
        color: #FF7506;

        &:hover {
            color: #FF7506;
        }
    }

    .ant-menu-light .ant-menu-submenu-title:hover:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected) {
        color: #fff !important;
    }

    .ant-menu-submenu-title {
        height: 60px !important;
        display: flex;
        flex-direction: column;
        color: #fff;



        .ant-menu-item-icon {
            margin-left: 25px !important;
            text-align: center !important
        }

        .ant-menu-title-content {
            height: 20px !important;
            margin-top: -5px !important;

        }
    }

    .menubar__logo {
        padding-top: 25px;
        padding-bottom: 60px;

        .logo_sub {
            width: 72px;
            height: 72px;
            cursor: pointer;
        }
    }


    .ant-menu {
        background-color: #020220;
    }

    .ant-menu-item {
        display: flex;
        flex-direction: column;
        gap: 0;
        height: 65px;
        font-size: 13px;
        color: #ffff;
        justify-content: center;
        align-items: center;
        padding-left: 0 !important;
        gap: 2px;
        border-radius: 0px !important;


        .ant-menu-title-content {
            margin-top: -13px;
        }



    }

    :where(.css-dev-only-do-not-override-26rdvq).ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover {
        color: #fff;
    }


    .ant-menu-item-selected {
        background-color: #020220 !important;
        position: relative;
        color: #FF7506;

        &::before {
            content: '';
            position: absolute;
            width: 5px;
            height: 60px;
            background-color: #FF7506;
            border-radius: 4px;
            left: 0;

        }
    }



    // submenu

    .ant-menu-submenu {
        background-color: #020220 !important;

        .menuitem {
            color: #ffff;
        }
    }


}

.ant-menu-submenu.ant-menu-submenu-popup.ant-menu.ant-menu-light.ant-menu-submenu-placement-rightTop {
    ul {
        background-color: #020220 !important;
        color: #fff;

        li {
            &:hover {
                background-color: #2e2e41;
                color: var(--white);
            }
        }
    }
}